body {
    display: block;
    height: auto;
    margin: 0;
}

h1 {
    color: antiquewhite;
    margin: 0;
}


#button {
    width: 100%;
    height: 80px;
}

header {
    display: flex;
    background-color: black;
    height: 80px;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    background-color: red;
    height: 1000px;
}
 
footer {
    display: flex;
    background-color: black;
    height: 100px;
    align-items: center;
    justify-content: center;
}

#footer-text-style {
    margin: 0;
    color: antiquewhite;
}

#canvas-container {
    flex: 8;
    background-color: yellow;
    margin: 0;
    padding: 0;
}

#gameCanvas {
    height: 100%;
    width: 100%;
}

#right-panel {
    background-color: #202020;
    height: 1000px;
    display: grid;
    justify-content: center;
    flex: 2;
    float: right;
    align-items: center;
}

label {
    color: #eeeeee;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.slider {
    color: green;
    height: 30px;
    width: 100%;
}

.sliderDivs {
    margin: 30px;
}