body {
    display: block;
    height: auto;
    margin: 0;
}

h1 {
    color: antiquewhite;
    margin: 0;
}

h3 {
    color: #eeeeee;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 30px;
}

.separation-div {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    border: 0;
    height: 1px;
    width: 90%;
    margin-left: 15px;
}
#button {
    width: 100%;
    height: 80px;
    font-size: 20px;
}

header {
    display: flex;
    background-color: black;
    height: 80px;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    background-color: red;
    height: 1000px;
}
 
footer {
    display: flex;
    background-color: black;
    height: 100px;
    align-items: center;
    justify-content: center;
}

#footer-text-style {
    margin: 0;
    color: antiquewhite;
}

#canvas-container {
    flex: 8;
    background-color: yellow;
    margin: 0;
    padding: 0;
}

#gameCanvas {
    height: 100%;
    width: 100%;
}

#right-panel {
    background-color: #202020;
    height: auto;
    display: block;
    justify-content: center;
    flex: 2;
    float: right;
    align-items: center;
}

.colors {
    height: 30px;
    width: 30px;
}

#colorsContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
    background-color: #303030;
    height: 230px;
}

.grid-element{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

label {
    color: #eeeeee;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.slider {
    color: green;
    height: 30px;
    width: 100%;
}

.rightpanel-subdiv {
    margin: 30px;
}